{{!-- <ul class="commentList closed">
      
{{#each this}}
    <li class="comment">
        <p class="commentText">{{comment_text}}</p>
        <div class="commentInfo"><span class="author">{{user.username}}</span> {{created_at}}</div>
    </li>
 {{/each}}

 </ul> --}}

 <div class="comments m-2">
  {{#each this}}
  <section class="comment border border-dark mt-1 ml-3">
    <div class="text p-1 font-italic text-primary">
      {{comment_text}}
    </div>
    <div class="meta p-1 font-weight-bold">
      - {{user.username}}, {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>