   <div class="post">
            <a href="/dashboard/comments/{{id}}" class="text-decoration-none h4 text-dark postTitle">{{title}}</a>
            <p class="postContent">{{post_text}}</p>
            <div class="postInfo">
                {{!-- <span class="author">Moo</span>  --}}
                {{format_date created_at}}
                </div>
            <div class="likes m-1 mb-0 col-4">
                <i  id="upvote" class="bi bi-hand-thumbs-up up">
                    <span class="voteCount"></span>
                    </i> 
                    Rating: {{vote_count}}
                 <i id="downvote" class="bi bi-hand-thumbs-down down"></i>
             </div>

             <img class="logo-2 p-0" src="/images/noSense.png" />

            <button class="viewCommentsBtn">{{comments.length}} Comments <div class="icon"><i class="bi bi-caret-down-fill"></div></i></button>


{{#if comments.length}}
<section class="closed">

      {{> comments-info comments}}

</section>
{{/if}}

 </div>
