   <div class="post">
            <h4 class="postTitle">{{title}}</h4>
            <p class="postContent">{{post_text}}</p>
            <div class="postInfo"><span class="author">{{user.firstName}}</span>{{created_at}}</div>
            <div class="likes">
                <i class="bi bi-hand-thumbs-up"><span class="voteCount">{{vote_count}}</span></i>
                <i class="bi bi-hand-thumbs-down"></i>
             </div>
            <button class="addCommentBtn">Add Comment</button>

            <form class="addCommentForm closed">
                <textarea type="text" class="commentTextArea" name="commentTextArea"></textarea>
                <label for="commentTextArea"></label>
                <div class="btns">
                    <button class="cancel">Cancel</button>
                    <input class="submit" type="submit"></input>
                </div>
            </form>

            <button class="viewCommentsBtn">{{comments.length}} Comments <div class="icon"><i class="bi bi-caret-down-fill"></div></i></button>


{{#if comments.length}}
<section>

      {{> comments-info comments}}

</section>
{{/if}}

 </div>